{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="whole">
    <div class="container">
        <div class="col">
            <div class="col-md-8">
                <h1 class="home">Home</h1>
            </div>
            <div class="col-md-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quis aliquid nesciunt eos fuga quo minima quaerat! Consequatur quos suscipit, soluta esse, veniam voluptatibus nisi animi doloribus recusandae sit explicabo!</div>
        </div>
        <div class="col">
            <div class="sub-heading">What we do?</div>
            <div class="col-md-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quis aliquid nesciunt eos fuga quo minima quaerat! Consequatur quos suscipit, soluta esse, veniam voluptatibus nisi animi doloribus recusandae sit explicabo!</div>
        </div>
    </div>
</div>

{% endblock %}
