{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="whole">
    <div class="container">
        <div class="col">
            <div class="col-md-8">
                <h1 class="home">About Us</h1>
            </div>
            <div class="col-md-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quis aliquid nesciunt eos fuga quo minima quaerat! Consequatur quos suscipit, soluta esse, veniam voluptatibus nisi animi doloribus recusandae sit explicabo!</div>
        </div>
        <div class="col">
            <div class="sub-heading">Who we are?</div>
            <div class="col-md-8">We are a team of four striving to build products that might help the world become a better place.</div>
        </div>
        <div class="col">
            <div class="sub-heading">What we strive for?</div>
            <div class="col-md-8"><ul>
                <li> Lorem, ipsum dolor. </li>
                <li> Lorem, ipsum dolor. </li>
                <li> Lorem, ipsum dolor. </li>
                <li> Lorem, ipsum dolor. </li>
            </ul></div>
        </div>
    </div>
</div>

{% endblock %}
